/**  ALL VARIABLES OF THE STYLE **/
//Colors
$Black : #000000;
$Brown : #784D3C;
$White : #ffffff;
$DBlue : #1a2238;
$Acua : #9daaf2;
$Orange : #ff6a3d;
$Yellow : #f4db7d;

//Media Queries 
$phone : 480px;
$tablet : 768px;
$desktop : 1200px;

//Fonts
$FirstFont : 'Montserrat', sans-serif;
$SkinnyF : 300;
$RegularF : 400;
$BoldF : 700;
$BlackF : 900;

//Separations

$Separation : 5rem;