.footer {
    background-color: $DBlue;
    padding: .5rem;
    text-align: center;
}

.p {
    font-size: 2rem;
    margin: 1rem;
    color: $White;
    span {
            font-weight: bold;
    }

}

.p1 {
    font-size: 1.5rem;
    color: $White;
}